@model Project.Models.IndexViewModel
@{
    ViewBag.Title = "Cash purchase sales forex";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}


<div class="breadcrumb_section page_title_light background_bg overlay_bg_80" data-img-src="../Content/NewFront/assets/images/slider1.jpg" style="background-image: url(&quot;../Content/NewFront/assets/images/slider1.jpg&quot;);">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1 col-md-5">
                <ol class="breadcrumb justify-content-md-end mb-3 mb-md-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = ""})">Home</a></li>
                    <li class="breadcrumb-item active">Cash purchase sales forex</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-7 order-md-first">
                <div class="page-title">
                    <h1>About Us</h1>
                </div>

            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading_s1">
                    <h5>Cash purchase sales forex</h5>
                </div>
                <blockquote class="blockquote_style1">
                    <p>transactional service offered by financial institutions and foreign exchange providers, including TopFirst Forex Services. This service enables clients to purchase and sell foreign currencies for cash, allowing them to make international payments or exchanges quickly and efficiently.</p>
                    <p>Here is how it works:</p>
                    <div class="list_style1">
                        <ul>
                            <li>Cash Purchase: When a client needs to purchase foreign currency, they can do so by exchanging their local currency for the desired foreign currency at a predetermined exchange rate. The client can then use the foreign currency to make international payments or exchanges.</li>
                            
                           
                            <li>Cash Sales: When a client has foreign currency that they no longer need, they can sell it for cash at a predetermined exchange rate. The client can then use the cash for their local currency or other purposes.</li>
                            
                        </ul>
                    </div>
                </blockquote>
            </div>
        </div>

    </div>
</div>