@model Project.Models.IndexViewModel
@{
    ViewBag.Title = "Credit Card Payment";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}


<div class="breadcrumb_section page_title_light background_bg overlay_bg_80" data-img-src="../Content/NewFront/assets/images/slider1.jpg" style="background-image: url(&quot;../Content/NewFront/assets/images/slider1.jpg&quot;);">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1 col-md-5">
                <ol class="breadcrumb justify-content-md-end mb-3 mb-md-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = ""})">Home</a></li>
                    <li class="breadcrumb-item active">Credit Card Payment</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-7 order-md-first">
                <div class="page-title">
                    <h1>Credit Card Payment</h1>
                </div>

            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading_s1">
                    <h5>Credit Card Payments</h5>
                </div>
                <blockquote class="blockquote_style1">
                    <p>At Top First Exchange DBC, we offer a range of credit card payment processing solutions to businesses and merchants around the world. Our solutions are designed to be secure, reliable, and cost-effective, helping our clients to streamline their payment processes and improve their cash flow.</p>
                    <p>Our credit card payment processing solutions include::</p>
                    <div class="list_style1">
                        <ul>
                            <li>Point-of-sale (POS) systems: We offer customized POS systems that are designed to meet the specific needs of our clients' businesses, including in-store, mobile, and online transactions.</li>                            
                            <li>Payment gateways: Our payment gateway solutions allow merchants to securely process credit card payments online, providing a seamless and convenient shopping experience for their customers.</li>
                            <li>Fraud prevention: We utilize advanced fraud prevention tools and technologies to help our clients minimize the risk of fraudulent transactions.</li>
                            <li>Settlement and reconciliation: We provide comprehensive settlement and reconciliation services to help our clients track their transactions, reconcile their accounts, and streamline their accounting processes.</li>
                           
                        </ul>
                    </div>
                </blockquote>
            </div>
        </div>

    </div>
</div>