@model Project.Models.IndexViewModel
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}


<div class="breadcrumb_section page_title_light background_bg overlay_bg_80" data-img-src="../Content/NewFront/assets/images/slider1.jpg" style="background-image: url(&quot;../Content/NewFront/assets/images/slider1.jpg&quot;);">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1 col-md-5">
                <ol class="breadcrumb justify-content-md-end mb-3 mb-md-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = ""})">Home</a></li>
                    <li class="breadcrumb-item active">Privacy Policy</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-7 order-md-first">
                <div class="page-title">
                    <h1>Privacy Policy</h1>
                </div>

            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading_s1">
                    <h5>Privacy Policy</h5>
                </div>
                <blockquote class="blockquote_style1">
                    <p>At Top First Exchange BDC, we take our clients' privacy and security seriously. We are committed to protecting the personal information that we collect and use in the course of our business activities. This Privacy Policy outlines the types of information that we collect, how we use it, and the measures we take to ensure its security.</p>
                    <p>Information we collect: We may collect personal information from our clients, including name, address, contact details, and financial information. We collect this information in order to provide our services and to comply with regulatory requirements.</p>
                    <p>Use of information: We may use the personal information that we collect for a variety of purposes, including providing our services, complying with legal and regulatory requirements, and improving our business operations. We do not share this information with third parties, except as required by law or as necessary to provide our services.</p>
                    <p>Data security: We have implemented appropriate measures to ensure the security of the personal information that we collect and use, including physical, technical, and administrative safeguards. We regularly review and update our security procedures to ensure that they are effective and up-to-date.</p>
                    <p>Third-party links: Our website may contain links to third-party websites that are not controlled by Top First Exchange BDC. We are not responsible for the privacy practices or content of these websites.</p>
                    <p>Changes to our Privacy Policy: We may update this Privacy Policy from time to time to reflect changes in our business practices or legal requirements. We will notify our clients of any material changes to this policy.</p> 
                    <p>Contact us: If you have any questions or concerns about our Privacy Policy or the way that we collect and use personal information, please contact us at info@topfirstexchangebdc.com.</p>
                    <p>By using our services or providing us with personal information, you agree to the terms of this Privacy Policy.</p>
                </blockquote>
            </div>
        </div>

    </div>
</div>