@model Project.Models.IndexViewModel
@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}


<div class="breadcrumb_section page_title_light background_bg overlay_bg_80" data-img-src="../Content/NewFront/assets/images/slider1.jpg" style="background-image: url(&quot;../Content/NewFront/assets/images/slider1.jpg&quot;);">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1 col-md-5">
                <ol class="breadcrumb justify-content-md-end mb-3 mb-md-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = ""})">Home</a></li>
                    <li class="breadcrumb-item active">Terms & Conditions</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-7 order-md-first">
                <div class="page-title">
                    <h1>Terms & Conditions</h1>
                </div>

            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading_s1">
                    <h5>Terms & Conditions</h5>
                </div>
                <blockquote class="blockquote_style1">
                    <p>Welcome to Top First Exchange BDC. These Terms & Conditions govern your use of our services and website. By using our services or accessing our website, you agree to be bound by these Terms & Conditions.</p>
                    <div class="list_style1">
                        <ul>
                            <li>Use of services: Our services are intended for lawful purposes only. You agree to use our services only for their intended purposes and to comply with all applicable laws and regulations.</li>                            
                            <li>Payment processing: If you use our payment processing services, you agree to pay all fees and charges associated with your use of our services. You also agree to comply with all applicable laws and regulations related to payment processing.</li>
                            <li>Foreign exchange: If you use our foreign exchange services, you agree to abide by all applicable laws and regulations related to foreign exchange transactions. You acknowledge that foreign exchange transactions carry risk, and that you are solely responsible for any losses or damages that may result from such transactions.</li>
                            <li>Intellectual property: Our website and all content and materials contained therein are the property of Top First Exchange BDC or our licensors. You agree not to use, reproduce, or distribute any of our content or materials without our prior written consent.</li>
                            <li>Limitation of liability: To the fullest extent permitted by law, TopFirst Forex Services shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with your use of our services or website.</li>
                            <li>Termination: We may terminate your access to our services or website at any time, for any reason, without notice. You may also terminate your account at any time by contacting us.</li>
                            <li>Governing law: These Terms & Conditions shall be governed by and construed in accordance with the laws of the jurisdiction in which Top First Exchange BDC Services is located.</li>
                            <li>Changes to Terms & Conditions: We may update these Terms & Conditions from time to time to reflect changes in our business practices or legal requirements. We will notify our users of any material changes to these Terms & Conditions.</li>
                        </ul>
                    </div>
                    <p>If you have any questions or concerns about these Terms & Conditions, please contact us at info@topfirstexchangebdc.com.</p>
                </blockquote>
            </div>
        </div>

    </div>
</div>